@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <hr />  
    <p>ASP.NET Core</p>
    <p>Identity Login</p>
    <p>Twilio OTP Notification to mobile</p>
    <p>Google Recaptcha - reCAPTCHA type: v2 Tickbox</p>
    <p>6 charactor OTP</p>
</div>
